.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger,
.btn-dark,
.btn-pink,
.btn-purple,
.btn-indigo,
.btn-teal,
.btn-lime,
.btn-orange,
.btn-brown,
.btn-blue-grey {
	color: #ffffff;
}

.btn-primary {
	background-color: #626ed4;
	border: 1px solid #626ed4;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open>.dropdown-toggle.btn-primary,
.btn-outline-primary.active,
.btn-outline-primary:active,
.show>.btn-outline-primary.dropdown-toggle,
.btn-outline-primary:hover,
.btn-primary.active,
.btn-primary:active,
.show>.btn-primary.dropdown-toggle,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle,
.btn-outline-primary:not([disabled]):not(.disabled).active,
.btn-outline-primary:not([disabled]):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
	background-color: #4e5ccf;
	border: 1px solid #4e5ccf;
}

.btn-primary.focus,
.btn-primary:focus,
.btn-outline-primary.focus,
.btn-outline-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
	-webkit-box-shadow: 0 0 0 2px rgba(98, 110, 212, 0.3);
	box-shadow: 0 0 0 2px rgba(98, 110, 212, 0.3);
}

.btn-secondary.focus,
.btn-secondary:focus,
.btn-outline-secondary.focus,
.btn-outline-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-secondary.dropdown-toggle:focus {
	-webkit-box-shadow: 0 0 0 2px rgba(42, 49, 66, 0.3);
	box-shadow: 0 0 0 2px rgba(42, 49, 66, 0.3);
}

.btn-success {
	background-color: #24CD63;
	border: 1px solid #24CD63;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.focus,
.btn-success:active,
.btn-success:focus,
.btn-success:hover,
.open>.dropdown-toggle.btn-success,
.btn-outline-success.active,
.btn-outline-success:active,
.show>.btn-outline-success.dropdown-toggle,
.btn-outline-success:hover,
.btn-success.active,
.btn-success:active,
.show>.btn-success.dropdown-toggle,
.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show>.btn-success.dropdown-toggle:focus,
.btn-outline-success:not([disabled]):not(.disabled).active,
.btn-outline-success:not([disabled]):not(.disabled):active,
.show>.btn-outline-success.dropdown-toggle {
	background-color: #028b81;
	border: 1px solid #028b81;
}

.btn-success.focus,
.btn-success:focus,
.btn-outline-success.focus,
.btn-outline-success:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:not(:disabled):not(.disabled):active:focus,
.show>.btn-success.dropdown-toggle:focus,
.btn-outline-success:not(:disabled):not(.disabled).active:focus,
.btn-outline-success:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-success.dropdown-toggle:focus {
	-webkit-box-shadow: 0 0 0 2px rgba(2, 164, 153, 0.3);
	box-shadow: 0 0 0 2px rgba(2, 164, 153, 0.3);
}

.btn-info {
	background-color: #34B7F1;
	border: 1px solid #34B7F1;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.focus,
.btn-info:active,
.btn-info:focus,
.btn-info:hover,
.open>.dropdown-toggle.btn-info,
.btn-outline-info.active,
.btn-outline-info:active,
.show>.btn-outline-info.dropdown-toggle,
.btn-outline-info:hover,
.btn-info.active,
.btn-info:active,
.show>.btn-info.dropdown-toggle,
.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show>.btn-info.dropdown-toggle,
.btn-outline-info:not([disabled]):not(.disabled).active,
.btn-outline-info:not([disabled]):not(.disabled):active,
.show>.btn-outline-info.dropdown-toggle {
	background-color: #1f99f7;
	border: 1px solid #1f99f7;
}

.btn-info.focus,
.btn-info:focus,
.btn-outline-info.focus,
.btn-outline-info:focus,
.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:not(:disabled):not(.disabled):active:focus,
.show>.btn-info.dropdown-toggle:focus,
.btn-outline-info:not(:disabled):not(.disabled).active:focus,
.btn-outline-info:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-info.dropdown-toggle:focus {
	-webkit-box-shadow: 0 0 0 2px rgba(56, 164, 248, 0.3);
	box-shadow: 0 0 0 2px rgba(56, 164, 248, 0.3);
}

.btn-warning {
	background-color: #f8b425;
	border: 1px solid #f8b425;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.focus,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover,
.open>.dropdown-toggle.btn-warning,
.btn-outline-warning.active,
.btn-outline-warning:active,
.show>.btn-outline-warning.dropdown-toggle,
.btn-outline-warning:hover,
.btn-warning.active,
.btn-warning:active,
.show>.btn-warning.dropdown-toggle,
.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.show>.btn-warning.dropdown-toggle,
.btn-outline-warning:not([disabled]):not(.disabled).active,
.btn-outline-warning:not([disabled]):not(.disabled):active,
.show>.btn-outline-warning.dropdown-toggle {
	background-color: #f7ac0c;
	border: 1px solid #f7ac0c;
	color: #ffffff;
}

.btn-warning.focus,
.btn-warning:focus,
.btn-outline-warning.focus,
.btn-outline-warning:focus,
.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn-warning:not(:disabled):not(.disabled):active:focus,
.show>.btn-warning.dropdown-toggle:focus,
.btn-outline-warning:not(:disabled):not(.disabled).active:focus,
.btn-outline-warning:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-warning.dropdown-toggle:focus {
	-webkit-box-shadow: 0 0 0 2px rgba(248, 180, 37, 0.3);
	box-shadow: 0 0 0 2px rgba(248, 180, 37, 0.3);
}

.btn-danger {
	background-color: #ec4561;
	border: 1px solid #ec4561;
}

.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.btn-danger.active,
.btn-danger.focus,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:hover,
.open>.dropdown-toggle.btn-danger,
.btn-outline-danger.active,
.btn-outline-danger:active,
.show>.btn-outline-danger.dropdown-toggle,
.btn-outline-danger:hover,
.btn-danger.active,
.btn-danger:active,
.show>.btn-danger.dropdown-toggle,
.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,
.show>.btn-danger.dropdown-toggle,
.btn-outline-danger:not([disabled]):not(.disabled).active,
.btn-outline-danger:not([disabled]):not(.disabled):active,
.show>.btn-outline-danger.dropdown-toggle {
	background-color: #ea2e4d;
	border: 1px solid #ea2e4d;
}

.btn-danger.focus,
.btn-danger:focus,
.btn-outline-danger.focus,
.btn-outline-danger:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.show>.btn-danger.dropdown-toggle:focus,
.btn-outline-danger:not(:disabled):not(.disabled).active:focus,
.btn-outline-danger:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-danger.dropdown-toggle:focus {
	-webkit-box-shadow: 0 0 0 2px rgba(236, 69, 97, 0.3);
	box-shadow: 0 0 0 2px rgba(236, 69, 97, 0.3);
}

.btn-dark {
	background-color: #2a3142;
	border: 1px solid #2a3142;
	color: #ffffff;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.btn-dark.focus,
.btn-dark:active,
.btn-dark:focus,
.btn-dark:hover,
.open>.dropdown-toggle.btn-dark,
.btn-outline-dark.active,
.btn-outline-dark:active,
.show>.btn-outline-dark.dropdown-toggle,
.btn-outline-dark:hover,
.btn-dark:not(:disabled):not(.disabled).active,
.btn-dark:not(:disabled):not(.disabled):active,
.show>.btn-dark.dropdown-toggle,
.btn-outline-dark:not([disabled]):not(.disabled).active,
.btn-outline-dark:not([disabled]):not(.disabled):active,
.show>.btn-outline-dark.dropdown-toggle {
	background-color: #202532;
	border: 1px solid #202532;
	color: #ffffff;
}

.btn-dark.focus,
.btn-dark:focus,
.btn-outline-dark.focus,
.btn-outline-dark:focus,
.btn-dark:not(:disabled):not(.disabled).active:focus,
.btn-dark:not(:disabled):not(.disabled):active:focus,
.show>.btn-dark.dropdown-toggle:focus,
.btn-outline-dark:not(:disabled):not(.disabled).active:focus,
.btn-outline-dark:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-dark.dropdown-toggle:focus {
	-webkit-box-shadow: 0 0 0 2px rgba(42, 49, 66, 0.3);
	box-shadow: 0 0 0 2px rgba(42, 49, 66, 0.3);
}

.bg-transparent {
	background-color: transparent !important;
}

.bg-white {
	background-color: #FFFFFF;
}

.bg-grey-a {
	background-color: #F2F2F2;
}

.bg-grey-b {
	background-color: #E8E8E8;
}

.bg-grey-c {
	background-color: #EFEFEF;
}

.bg-muted {
	background-color: #E6E2EB;
}

.bg-blue {
    background: #4E5CCF !important;
}

.bg-green {
    background: #31D65D !important;
}

.bg-yellow {
    background: #E6C43C !important;
}

.bg-red {
    background: #EF3F51 !important;
}

.bg-lime {
	background-color: #25D366;
}

.bg-gradient-lime {
	background-image: linear-gradient(-90deg, #1DC7E4, #1DDFC3);
}

.text-main-green {
	color: #0D786D;
}

.text-grey {
	color: #AFAFAF;
}

.text-blue {
    color: #4799E1 !important;
}

.text-green {
    color: #31D65D !important;
}

.text-yellow {
    color: #E6C43C !important;
}

.text-red {
    color: #EF3F51 !important;
}

.text-pink {
	color: #ED135D !important;
}

.border-1-white {
	border: 1px solid #FFFFFF;
}

.label-success {
	background-color: #31D65D !important;
}

.label-primary {
	background-color: #4799E1 !important;
}

.label-info {
	background-color: #34B7F1 !important;
}

.label-warning {
	background-color: #FFC916 !important;
}

.label-paused {
	background-color: #747474 !important;
}