body {
    background-repeat: repeat;
    background: #f8f8fa;
    font-size: 13px;
}

html {
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
}

a {
    color: #eee;
    font-weight: bold;
}

a:hover {
    color: #ccc;
    outline: 0;
    text-decoration: none;
}

a:active {
    color: #ccc;
    outline: 0;
    text-decoration: none;
}

a:focus {
    color: #ccc;
    outline: 0;
    text-decoration: none;
}

.btn {
    border-radius: 3px;
    font-size: 14px;
}

button:focus {
    outline: none;
}

.card {
    border: none;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(236, 236, 241, 0.44);
    box-shadow: 0px 0px 13px 0px rgba(236, 236, 241, 0.44);
    margin-bottom: 30px;
}

.home-btn {
    position: absolute;
    top: 15px;
    right: 25px;
    z-index: 9;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #DD013F;
}

.home-btn a {
    color: inherit;
}

.home-btn:hover {
    background-color: rgba(255, 255, 255, 0.9);
    color: #0C2043 !important;
}

.wrapper-page {
    margin: 5.5% auto;
    max-width: 500px;
    position: relative;
}

.main-background {
    position: absolute;
    background-image: url("../../images/layouts/login/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.left-panel {
    float: left;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(6, 18, 43, 0.8);
}

.left-panel .card {
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media (min-width: 768px) {
    .left-panel {
        left: 0;
        position: absolute;
        height: 100vh;
        margin: 0;
        width: 420px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    body {
        overflow-x: hidden;
    }
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
}

.card {
    background-color: transparent !important;
}

#w0 {
    padding-top: 10px;
}

#w0 .text-input-wrapper {
    height: 85px;
}

#w0 input[type="text"],
#w0 input[type="password"] {
    width: 100%;
    height: 40px;
    line-height: 30px;
    padding: 22px 12px;
    border-radius: 8px;
    border: 2px solid #aaa;
    font-size: 13px;
    background-color: rgba(6, 18, 43, 0.7);
    color: #fff;
}

#w0 .has-error input[type="text"],
#w0 .has-error input[type="password"] {
    border: 2px solid #EC4561 !important;
}

#w0 label {
    font-size: 14px;
    font-weight: bold;
    color: #ccc;
    text-transform: capitalize !important;
}

#w0 .btn {
    background: #fff;
    color: #0C2043;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 15px;
}

#w0 .btn {
    background: #DC062D;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 15px;
}

#w0 .btn:hover {
    background: #DC062D;
    color: #fff;
}

::-webkit-input-placeholder {
    color: #ccc !important;
}

:-ms-input-placeholder {
    color: #ccc !important;
}

::placeholder {
    color: #ccc !important;
}

.help-block {
    margin-top: 6px;
    padding-left: 5px;
    color: #ccc !important;
    font-size: 12px;
    text-align: right;
}